* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
  }
  
  body {
    overflow-x: hidden;
    color: #F5f5f5;
    background-image: url(../img/bkg.jpeg);
    padding: 0px !important;
  }

  .ham {
    margin-top: 5px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .hamRotate.active {
    transform: rotate(45deg);
  }
  
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  
  .ham8 .top {
    stroke-dasharray: 40 160;
  }
  
  .ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  
  .ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  
  .ham8.active .top {
    stroke-dashoffset: -64px;
  }
  
  .ham8.active .middle {
    transform: rotate(90deg);
  }
  
  .ham8.active .bottom {
    stroke-dashoffset: -64px;
  }
  
  @media (max-width: 800px){
    .sections{
        flex-direction: column-reverse !important;
    }
    .text{
        width: 90% !important;
    }
    .secimg{
        width: 80% !important;   
    }
  } 

#togglebtn {
    display: flex;
    justify-content: right;
  }
  
  .overlay {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(19, 21, 78);
    overflow: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    display: none;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay .menu {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay .menu:hover,
  .menu:focus {
    color: #47f4cf;
    letter-spacing: 5px;
  }

  .filler{
      width: 100%;
      height: 75px;
  }

  .sections{
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  /* .s1, .s3
  {
      background-color: black;
  }*/
 .s2{
      flex-direction: row-reverse;
  } 
  .text{
      width: 40%;
      padding: 30px;
      font-size: 22px;
  }
  .secimg{
    height: 400px;
    width: 650px;
      
  }

  .start{
    font-size: 40px;
    font-weight: 900;
  }

  .t1, .t3{
      text-align: left;
  }

  .diplomas{
      height: 70vh;
      width: 60vw;
      display: block;
      margin: auto;
      margin-bottom: 100px;
  }
  