*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
  }
  
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 0.5s;
  }
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
.overlay .menu {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.overlay .menu:hover, .menu:focus{
    color: #47f4cf;
    letter-spacing:  5px;
}

  
#closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    color: white;
}

#openbtn{
    position: absolute;
    top: 20px;
    right: 45px;
}
  